<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            Food Trends Analysis
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link {% if active=='home' %}active fw-bold{% endif %}" href="/">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if active=='about' %}active fw-bold{% endif %}" href="/about">
                        About
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if active=='dashboard01' %}active fw-bold{% endif %}" href="/dashboard01">
                        Dashboard 01
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if active=='dashboard02' %}active fw-bold{% endif %}" href="/dashboard02">
                        Dashboard 02
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if active=='story' %}active fw-bold{% endif %}" href="/story">
                        Story
                    </a>
                </li>

            </ul>

        </div>

    </div>
</nav>